{
  "presets": [
  	["@babel/preset-env", {
			"useBuiltIns": "entry",
			"loose": true,
			"targets": {
				"browsers": "last 2 versions, not dead, ie 11"
			}
  	}],
	],
	"plugins": [
		["@babel/plugin-transform-runtime", {
			"useESModules": true
		}]
	]
}